<div class="card mb-4 shadow-sm">
    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
    <img [src]="productItem.imageUrl" width="50%">
    <div class="card-body">
      <p class="card-text"><strong>{{productItem.price | currency: 'EUR'}}</strong>
        <i *ngIf="addedToWishList" class="fas fa-heart float-right" (click)="handleRemoveFromWishList()"></i>
        <i *ngIf="!addedToWishList" class="far fa-heart float-right" (click)="handleAddToWishList()"></i>
  
      </p>
      <p class="card-text">{{productItem.description | slice: 0:80}}...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" (click)="handleAddToCart()">Add to cart</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
        </div>
      </div>
    </div>
  </div>