<div class="row">
    <div class="col">
        <app-filters></app-filters>
    </div>
    <div class="col-md-8">
        <app-products></app-products>
    </div>
    <div class="col">
        <app-cart></app-cart>
    </div>
</div>