<div class="row">
    <div class="col-md-4" *ngFor="let product of productList">
        <app-product-list-item [productItem]="product"></app-product-list-item>
     </div>
     </div>

     <!-- [addedToWishList]="wishlist.indexOf(productId) >= 0" -->